.ploogin-cards-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}

@media (min-width: 968px) {
    .ploogin-cards-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1536px) {
    .ploogin-cards-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 2048px) {
    .ploogin-cards-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}
